# K1
# Printer_size: 220x220x250
# Version: v1.0.23
# CreateDate: 2023/03/21
# Nozzle_mcu: chip: GD32F303CBT6
#             version: CR-K1-MAX-NOZZLE-V1.0.0
# Leveling_mcu: chip: GD32E230F8P6
#             version: CR-K1-MAX-LEVELING-V1.0.0
# mcu: chip: GD32F303RET6
#      version: CR4CU220812S12

[include sensorless.cfg]
[include gcode_macro.cfg]
[include timelapse.cfg]
[include KAMP_Settings.cfg]
[include Config/fans.cfg]
[include Config/sensors.cfg]
[include Config/steppers.cfg]
[include Config/resonance.cfg]
[include Config/mesh.cfg]
[include Config/bed-heater.cfg]
[include Config/led.cfg]

[printer]
kinematics: corexy
max_velocity: 600
max_accel: 20000
max_accel_to_decel: 10000
max_z_velocity: 20
square_corner_velocity: 5.0
square_corner_max_velocity: 200.0
max_z_accel: 300

[mcu]
serial: /dev/ttyS7
baud: 230400
restart_method: command

[mcu nozzle_mcu]
serial: /dev/ttyS1
baud: 230400
restart_method: command

[mcu leveling_mcu]
serial: /dev/ttyS9
baud: 230400
restart_method: command

[mcu rpi]
serial: /tmp/klipper_host_mcu

[bl24c16f]
i2c_mcu: rpi
i2c_bus: i2c.2
i2c_speed: 400000

[idle_timeout]
timeout: 900
gcode:
  TURN_OFF_HEATERS

[virtual_sdcard]
path: /usr/data/printer_data/gcodes

[gcode_arcs]
resolution: 1.0

[verify_heater extruder]

[display_status]

[pause_resume]
# recover_velocity: 500.

[exclude_object]

[firmware_retraction]
retract_length: 0.2
retract_speed: 100
unretract_speed: 100

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [input_shaper]
#*# shaper_type_y = zv
#*# shaper_freq_y = 57.2
#*# shaper_type_x = zv
#*# shaper_freq_x = 73.4
#*#
#*# [prtouch default]
#*# version = 307
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.713625, 0.552500, 0.303406, 0.166875, 0.082625
#*# 	  0.646688, 0.433674, 0.309615, 0.121937, -0.018344
#*# 	  0.667969, 0.474781, 0.301958, 0.113250, -0.011188
#*# 	  0.661656, 0.474312, 0.277125, 0.103233, -0.044594
#*# 	  0.694406, 0.467125, 0.268844, 0.050625, -0.070719
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.1
#*# min_x = 5.0
#*# max_x = 215.0
#*# min_y = 5.0
#*# max_y = 215.0
